[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClinTrialPredict"]
	path = ClinTrialPredict
	url = https://github.com/tomdingbiostat/clintrialpredict
